*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



#createListName, #listTitle{
    font-size: 32px;
    margin-bottom: 10px;
}
.close{
    font-size: 2rem;
    margin-left: 24rem;
}
/*background filter*/


body{
    background-color: #c4c4c4;
    font-family: sans-serif;
    
}

.maincontainer{
    margin:0 auto;
    width: 50%;
    height: 700px;
    margin-top: 100px;
    background-color:white;
    
}

.header{
    display: flex;
    justify-content: space-between;
    color: red;  
}

.maincontainer{
    text-align: center;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
h1{
    margin-right: 20px;  
}

#searchBox{
    margin-right: 200px;
    padding:5px 200px 5px 2px;
}