*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.modal{
    display: none;
position: fixed;
z-index: 1; 
left: 0;
top: 0;
width: 80%;
height: 80%;
overflow: auto; 
background-color: white; 
border: 7px black solid;
border-radius: 20px;
margin-left: 60px;
margin-top: 20px;
}
/*background filter*/
.blur{
    filter: blur(8px);
}

body{
    background-color: #c4c4c4;
    font-family: sans-serif;
    
}

.maincontainer{
    position: absolute;
    width: 580px;
    height: 700px;
    margin-top: 100px;
    top: 50%;
    left: 50%;
    background-color:white;
    transform: translate(-50%, -50%); 
}

.header{
    display: flex;
    justify-content: space-between;
    color: red;  
}

.maincontainer{
    text-align: center;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
h1{
    margin-right: 20px;  
}
input{
    margin-right: 200px;
    padding:5px 200px 5px 2px;
}