*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* LOG IN PAGE LAYOUT */
body{
    background-color: #c4c4c4;
    font-family: sans-serif;
}
.container{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;  
}

.leftContainer, .email, .password, .logInBtn{
display: flex;
flex-direction: column;
justify-content: center;
margin: 20px 0px 20px 0px
}

.leftContainer{
    margin-left: 50px;
    margin-top: 120px;
    background-color: white;
    width: 350px;
    height: 250px;
    top: 200px;
    padding: 20px;
    margin-right: 100px;
    box-shadow: 10px 10px grey;
    border-radius: 20px;

}

.rightContainer{
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 10px;
}

/*INPUT SECTION - LEFT SIDE */
#email, #pw{
    padding: 0.5em;
    width: 20em;
    background-color: lightgray;
    border: none;
}

#logInBtn{
outline: none;
border: none;
cursor: pointer;
text-transform: uppercase;
letter-spacing: 2px;
padding: 3px 20px 3px 20px;
margin: 0 auto ;
font-size: 16px;
display: block;
position: relative;
text-align: center ;
box-shadow: 0 ;
background-color: #1c91fe; 
box-shadow: 4px 4px rgb(25, 25, 233);
border-radius:20px ;  
margin-left: 80px;
}
/*ADDS THE CLICK EFFECT WHEN BEING HOVERED/CLICKED ON*/
#logInBtn:hover{    
    box-shadow: 3px 3px rgb(25, 25, 233); 
    top: 2px;
}
#logInBtn:active{
    box-shadow: none; 
    top: 6px;
}


form{
padding-left: 20px;
}

i{
    font-size: 40px;
    margin-top: 15px;
}
#createNewAcc{
    margin-left: 215px;
    font-size: 10px;
    text-decoration: none;
    color: black;
}

#createNewAcc:hover{
color: blue;
}
